*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background: #fff;
    z-index: 9;   
}
.navbar ul li a{
    color: rgb(14, 15, 15);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.navbar ul li a::after{
    content: ' ';
    width: 0%;
    height: 4px;
    background: #0992fa;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
.navbar ul li a:hover::after{
    width: 100%;
}
.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.heading .small{
    display: block;
    font-size: 40px;
    color: aqua;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.btn{
    font-size: 17px;
    display: block;
    margin: 50px auto;
    width: fit-content;
    background: rgb(47, 47, 54);
    border: 1px solid #1fc3f5;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(246, 250, 250);
    transition: background 0.5s;
}
.btn:hover{
    background: #61d7e7; 
    color: rgb(17, 16, 16);
}
.blogs-section{
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.blog-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.btn.dark{
    background: #1b1b1b;
    color: #fff;
}